!!! 5
html(lang="en")
	head
		title= 'Template'
		link(rel='stylesheet',href='stylesheets/960.css',media='all')
		link(rel='stylesheet',href='stylesheets/app.css',media='all')
		link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Paytone+One&v2", type="text/css")
		
	body
		#container.container_12
			#header.grid_12
				h1 Template
			#content.grid_12
				p
					| Hello
					
			#footer.grid_12
				#padder
					p
						| Created by 
						a(href='http://github.com/ArtemTitoulenko') Artem Titoulenko